<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Updates</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Latest Updates</a></p>
    </div>

    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h3>
        <strong><p> {{data.title}} </p> </strong>
        <small>{{data.paragraph}}</small>
      </div>
    </div>

    <div class="row" id="featured-pic">
      <div class="col-md-12">
        <h3 class="heading">Featured Picture</h3>
        <img src={{data.featpic}}>
      </div>
    </div>

    <div class="col-md-4" id="mars-facts">
      <div class="col-md-12">
        <h3 class="heading">Mars Facts</h3>
        <img src={{data.html_table | safe}}>
      </div>
    </div>

    <!-- <div class="row" id="mars-hemispheres">
      <div class="col-md-12">
        <h3 class="heading">Mars Hemispheres</h3>
        <img src={{data.hemis}}>
      </div>
    </div> -->

    <div class="row" id="mars-hemispheres">
      <div class="col-md-12">
        <h3 class="heading">Mars Hemispheres</h3>
    {% for hemi in data %}
        <img src = {{data.hemis}} >
      </div>
    </div>
    {% endfor %}

  </div>
</body>

</html>